<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">
		<form-login login-page="/spring/login" default-target-url="/"
			authentication-failure-url="/loginfail" />
		<intercept-url pattern="/addUser*" access="hasRole('ROLE_USER')" />
		<!-- <intercept-url pattern="/users" access="hasRole('ROLE_USER')" /> 
		<anonymous username="guest" granted-authority="ROLE_GUEST" />-->
		<logout logout-success-url="/index" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="UserDetailsServiceImpl">
		</authentication-provider>
	</authentication-manager>

	<beans:import resource="/appServlet/servlet-context.xml" />



</beans:beans>